html {
	background:linear-gradient(93.56deg, #024D2E 19.67%, #CEC09B 122.76%)!important;
    /* background: var(--text)!important; */

	/* Color */
	--primary: #024D2E;
	--background: #ECECE4;
	--background-alt: #ffffff;
	--text: #024D2E;
	--green-color: #28634b;
    --secondary-color: #FC9934;
    --dark-color: #352F27;
	--orange-color: #f4663a;	
    --blue-color: #BAD3CF;
	--yellow-color: #EAAF27;
}

.btn-yellow {
    width: 300px!important;
    height: 48px;
    background: #EAAF27;
    border-radius: 40px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #005141;
    text-decoration: none;
}

.btn-yellow:hover {
    color: #005141!important;
    font-weight: 500;
}

p {
    font-family: 'Montserrat', 
    sans-serif; 
    color: #fff; 
    line-height: 23px; 
    letter-spacing: 0.05em;
    font-size: 14px;
}

.title {
    font-family: 'Quicksand', 
    sans-serif; 
    color: var(--background);
    letter-spacing: 0.5em;
}

ul li a {
    font-family: 'Courier New', Courier, monospace;
}

ul li a:hover {
    text-decoration: line-through;
}